.header {
    display: flex;
    background-color: #f5f5f7;
    width: 100%;
    padding: 0 250px;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-grow: 0;
}

.header > .logo > img {
    width: 60px;
}

.header > .logo > span {
    font-size: 32px;
}
.header nav {
    flex-grow: 1;
}

.header .nav_list {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 4rem;
}
